
.App_Bar {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.841);
}

/* ################################# */

/* Base styles */
.slider {
  margin-top: 10vh; /* Add the desired top margin */
  /* Other existing styles for .slider */
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.image {
  display: block;
  height: 50vh; /* Set a fixed height */
  width: 100%; /* Set a fixed width */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin: auto;
}
.paginar{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* ################################# */

 .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
}
.cardBody {
  background-color: rgb(96, 96, 96);
  height: 200px;
  width: 100%;
  box-sizing: border-box;
}

.cardImg {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

/* Footer */
/* Estilos para el footer */



.card-carousel {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: rgb(129, 89, 40);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  align-items: center;
}

.card-slider {
  display: flex;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.carousel-card {
  flex: 0 0 auto;
  width: 120px;
  transition: transform 0.2s ease-in-out;
  margin-left: 20px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}
